/* Common */
:root {
    --header-height: 80px;
    --black-color: #111111;
    --white-color: white;
    --button-color: #59c1de;
    --red-color: red;
    --gray-black-color: #292929;
    --sub-nav-width: 200px;
    --text-color: #c7c7c7;
    --border-color: rgb(171 171 171);
}

.link:hover {
    background-color: #333333;
    border-radius: 5px;
}

.link-sub:hover {
    background-color: rgba(128,128,128,.3);
    border-radius: 5px;
}

.button:hover {
    background-color: #282828;
}

.border-radius-12px {
    border-radius: 12px !important;
}

.padding-20px {
    padding: 0 60px;
    letter-spacing: 2px;
    font-size: 13px;
}

.padding-right-60px{
    padding-right: 60px;
}

.no-padding {
    padding: 0;
}

.letter-space-7px {
    letter-spacing: 7px;
}

.text-align-center {
    text-align: center;
}

.color-black {
    color: black !important;
}

.bg-color-black {
    background-color: #111111 !important;
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

/* BUTTON */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.button.button--size-s {
    width: 32px;
    height: 32px;
}

.button.button--size-m {
    margin: 0 6px;
    padding: 8px 16px;
    background-color: #282828;
    border: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.button.button--size-l {
    width: 170px;
    padding: 10px 20px;
    font-size: 12px;
}

.button.button--size-l:hover,
.button--size-xl:hover {
    transition: border-radius 0.2s linear;
    border-radius: 0;
}

.button.button--light-blue {
    background-color: var(--button-color);
    color: var(--black-color);
    letter-spacing: 2px;

}

.button.button--light-blue:hover {
    background-color: #3eb4d5;
    
}

/* BUTTON PLAY FOR FREE */
.button-play-for-free {
    background-color: var(--button-color);
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    width: 196px;
    height: 56px;
    font-size: 13px;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    letter-spacing: 2px;
    border: none;
    margin: 30px 0;
    position: relative;
}

.button-play-for-free--orange {
    background-color: #caaa67;
}

.button-play-for-free + .button-play-for-free {
    margin-left: 20px;
}

.button-play-for-free::after {
    position: absolute;
    top: -5px;
    /* right: 0; */
    /* bottom: 0; */
    left: -3%;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 32% 0;
    border: 1px solid var(--border-color);
    padding: 5px;
    transition: 0.3s;
}

.img__introduce-button:hover .button-play-for-free::after {
    border-radius: 0;
    transition: 0.3s;
}

.map__context-text-button--orange:hover .button-play-for-free::after {
    border-radius: 0;
    transition: 0.3s;
}

.map__context-text-button--blue:hover .button-play-for-free::after {
    border-radius: 0;
    transition: 0.3s;
}

.video-end__text:hover .button-play-for-free::after {
    border-radius: 0;
    transition: 0.3s;
}

/* BORDER */
.common-border::before {
    position: absolute;
    content: "";
    top: -2%;
    left: 1%;
    width: 98%;
    height: 104%;
    border: 1px solid var(--border-color);
    border-radius: 0 30px 0 0;
    z-index: 1;
    animation: BorderRunRotate 0.5s linear 0s forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.common-full-border::before {
    position: absolute;
    content: "";
    top: -2%;
    left: 1%;
    width: 99%;
    height: 75%;
    border: 1px solid var(--border-color);
    border-radius: 0 30px 0 0;
    z-index: 1;
}

.common-border-small::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 2%;
    width: 96%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0 30px 0 0;
    z-index: 1;
}

.common-border-small::after {
    position: absolute;
    content: "";
    top: -4%;
    right: 1.5%;
    width: 5%;
    height: 10%;
    border-top: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
    animation: borderCorner 0.3s linear 0s forwards;
    display: none;
    z-index: 1;
}


.common-border-medium::before {
    position: absolute;
    content: "";
    top: -3%;
    right: 2%;
    width: 96%;
    height: 106%;
    border: 1px solid var(--border-color);
    border-radius: 0 30px 0 0;
    transition: 0.3s;
    z-index: 1;
}
@keyframes borderCorner {
    from {
        opacity: 0;
        width: 0%;
        height: 0%;
    }
    to {
        opacity: 1;
        width: 7%;
        height: 7%;
    }
}

.common-border-medium::after {
    position: absolute;
    content: "";
    top: -3%;
    right: 2%;
    width: 7%;
    height: 7%;
    border-top: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
    animation: borderCorner 0.3s linear 0s forwards;
    display: none;
    z-index: 1;
}


/* BLOCK WIDTH 60px */
.WIDTH-BLOCK-60px::after {
    content: "";
    width: 60px;
    height: 100%;
}

/* TITLE COMMON */
.title {
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 9px;
    letter-spacing: 2px;
    width: 60px;

    transform: translateX(-50%);
    padding-top: 100%;
    transform: rotate(-90deg) translate(-100%, -50%);
    transform-origin: left top;
}

.title--white {
    color: var(--white-color);
}

.title__minus {
    font-size: 11px;    
}

/* ANIMATION */
@keyframes RotateIteration{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes DownToUp {
    from{
        transform: translateY(-20%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes RightToLeft {
    from {
        opacity: 0;
         transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes BorderRunRotate {
    from {
        border-left: 0px solid var(--border-color);
        border-left: 0px solid var(--border-color);
        border-left: 0px solid var(--border-color);
        border-left: 0px solid var(--border-color);

    }
    to {
        border-left: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);

    }
}

/* ARROW */
.arrow::before {
    content: "";
    position: absolute;
    border-right: 10px solid transparent;
    border-bottom: 12px solid white;
    border-left: 10px solid transparent;
    top: calc(100% + 10px);
    left: 5px;
    visibility: hidden;
}