// TAB
@media screen and (max-width: 1024px) {
    
    .header {
        padding: 0 16px;
    }
    .brand__riot {
        width: 95px;
        height: 32px;
    }
    .brand__icon-extra {
        margin-left: 8px;
        font-size: 16px;
    }
    .nav__list {
        display: none;
    }

    .button-group-wrapper {
        display: none;
    }

    .button.button-group__menu {
        display: flex;
        border-radius: 18px;
    }
    .logo--small {
        display: none;
    }
    .logo--large {
        display: block;
    }
    .img-internet {
        width: 24px;
    }
    .button.button--size-s {
        width: 48px;
        height: 48px;
        font-size: 18px;
    }
    .img__introduce-img {
        width: 410px;
        height: 180px;
    }
    // navigation-tab
    #open-close-cb:checked ~ .navigation-tab {
        display: block;
    }
    #open-close-cb:checked ~ .overlay-close-nav {
        visibility:visible;

    }
    .overlay-close-nav {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.6);
        z-index: 1;
    }
    
    .navigation-tab {
        width: 50%;
        background-color: #1f1f1f;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 16px;
        list-style: none;
        overflow-y: scroll;
        animation: RightToLeft 0.3s linear 0s   ;
        transition: 0;
        z-index: 1;
    }
    h1.navigation-tab__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    .logo__lol-2 {
        height: 42px;
    }
    .navigation-tab__item-link {
        display: flex;
        padding: 12px 18px;
        color: var(--white-color);
        font-size: 16px;
        font-weight: bold;
        letter-spacing: .08em;
        height: 48px;
        line-height: 24px;
        justify-content: space-between;
    }
    .navigation-tab__item-link:hover {
        background-color: #333;
        border-radius: 5px;
    }
    .navigation-tab__item + .navigation-tab__item {
        margin: 8px 0;
    }
    .button-group-wrapper-2 {
        flex-direction: column;
        margin-top: 20px;
        padding: 16px 0;
    }
    .button.button--size-m {
        padding: 20px;
        font-size: 16px;
    }
    .button--size-m {
        background-color: #333;
    }
    .button--size-m + .button--size-m {
        margin-top: 20px;
    }
    // Profile
    .profile {
        // padding: 0px 0px 15vw;
    }
    .news {
        margin-right: -60px;
    }
    .news__list {
        overflow-x: scroll;
    }
    .news__list::-webkit-scrollbar {
        display: none;
    }
    .news__detail {
        margin-right: 60px;
    }
    .news__list-item {
        width: 50%;
    }
    .news__list-item-infor-name {
        margin: 8px -16px 4px 0px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .news__list-item-infor-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
    }
    .profile__content-title-description {
        margin: 0 ;
        padding: 0 24%;
    }
    .profile__content-slide {
        margin-left: 0;
    }
    .profile__content-slide-nav {
        width: 100%;
    }
    .profile__content-slide-nav-wrapper {
        border-top: 1.5px solid rgb(219 221 225);
    }
    .profile__content-slide-nav-video  {
        display: none;
    }
    .profile__content-slide-img {
        z-index: 1;
        position: relative;
    }
    .profile__content-slide-img-item {
        left: 18%;
    }
    .profile__content-slide-nav-separate {
        top: 67px;
    }
    svg.profile__content-slide-nav-list-item-link-border-svg {
        visibility: hidden;
    }
    svg.profile__content-slide-nav-list-item-link-logo-svg{
        display: none;
    }
    span.profile__content-slide-nav-list-item-link-dots{
        visibility: hidden;
    }
    .skin__content-main-infor {
        transition: 0.5s;
        margin: 16% auto;
        position: unset;
    }
    // MODES
    
    .modes__content-news-wrapper-left {
        position: relative;
        top:-700px;
        margin: auto;
    }
    .modes__content-news-wrapper-left-paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // MAP
    .map__content-img {
        width: 90%;
    }
    // DOWNLOAD 
    .download {
        flex-wrap: nowrap;
    }
    
    // FOOTER
    
    .footer__list {
        flex-direction: column;
    }
    .footer__item {
        margin: 8px 0;
    }
    .footer__item-link {
        font-size: 14px;
        border-radius: 5px;
    }
}

// MOBILE
@media screen and (max-width: 800px) {
    .title {
        transform: unset;
        padding: unset;
    }
    .video__background-src {
        // visibility: hidden;
        display: none;
    }
    .video__background-src-mobile {
        visibility: visible;
    }
    
    .video__introduce.common-border::before{
        visibility: hidden;
    }.video__introduce.common-border {
        top: 0;
    }
    .navigation-tab {
        width: 100%;
    }
    .news {
        padding: 0;
    }
    .news__title {
        align-self: flex-start;
        padding: 18px;
    }
    .news__detail {
        margin: 24px;
    }
    .news-wrapper {
        flex-direction: column;
    }
    .news__list-item {
        width: 100%;
    }
    .feature__title {
        display: none;
    }
    .feature__content-list {
        flex-wrap: wrap;
    }
    .feature__content-item {
        width: 100%;
    }
    .feature__content-item + .feature__content-item {
        margin-top: 70px;
    }
    // PROFILE
    .profile__title {
        display: none;
    }
    .profile__content  {
        
        padding: unset;
    }
    // SKIN
    .skin__title {
        display: none;
    }
    .skin.WIDTH-BLOCK-60px {
        // display: none;
        // width: 0;
    }
    .skin__content-main-infor {
        transition: 0.5s;
        margin: 16% auto;
        position: unset;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .skin__content-main-img:hover ~ .skin__content-main-infor {
        transition: 0.5s;
        transform: unset;   
    }
    a.button.skin__content-main-infor-link--mobile {
        position: absolute;
        top: 24%;
    }
    // MODES
    .modes__title {
        display: none;
    }
    // MAP
    .map__title {
        display: none;
    }
    // DOWNLOAD
    .download {
        flex-direction: column;
    }
    .WIDTH-BLOCK-60px::after {
        width: unset;
    }
}